Resuma o conteúdo a seguir:
{{- if .PreviousSummary}}
# Resumo anterior

<previous_summary>{{.PreviousSummary}}</previous_summary>

---
{{end -}}
Histórico do chat:

<chat_history>{{.ChatHistory -}}</chat_history>
