Riassumi il contenuto seguente:
{{- if .PreviousSummary}}
# Riepilogo precedente

<previous_summary>{{.PreviousSummary}}</previous_summary>

---
{{end -}}
Cronologia della chat:

<chat_history>{{.ChatHistory -}}</chat_history>
