Fasse den folgenden Inhalt zusammen:
{{- if .PreviousSummary}}
# Vorherige Zusammenfassung

<previous_summary>{{.PreviousSummary}}</previous_summary>

---
{{end -}}
Chat-Verlauf:

<chat_history>{{.ChatHistory -}}</chat_history>
