Aşağıdaki içeriği özetle:
{{- if .PreviousSummary}}
# Önceki özet

<previous_summary>{{.PreviousSummary}}</previous_summary>

---
{{end -}}
Sohbet geçmişi:

<chat_history>{{.ChatHistory -}}</chat_history>
